/* css reset */
html {
    /* box-sizing: border-box; */
    font-size: 16px;
    /* user-select: none; */
}

* {
    font-family: 'Chelsea Market', cursive;
}

body,
p,
ol,
ul {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    height: auto;
    /* max-width: 100%; */
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

div,
form {
    border-radius: var(--radius);
}

/*--- end of reset ----*/

/*--- VARS ----*/

:root {
    --background: #F1F2F2;
    --card: #fff;
    --principal: #72F1B8;
    --subprincipal: #D91E62;
    --secondary: #FF7A00;
    --alert: #00BB2D;
    --color-font: #9A9A9A;
    --padding: 1.5em;
    --panel-padding: 0 0.3em 0 0.3em;
    --margin: 2em;
    --gap: 1em;
    --radius: 1em;
    --background-gray: #EFEFEF;
    --border: 1px solid #e5edef;
}

/*--- END VARS ----*/

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--background);
    display: grid;
}

.header {
    display: flex;
    justify-content: space-between;
    /* width: 100vw; */
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: var(--card);
    border-bottom: var(--border);
}

.header--right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* right: 1em; */
    /* bottom: 0; */
    /* top: 50%; */
}

.nav {
    margin: 0 1em;
}

.cart-count:visited {
    color: red;
}

.icon::before {
    font-size: 2em;
    background-color: white;
}

.header--right__cart::before {
    background-color: none;
}

.cart-count {
    background-color: var(--alert);
    margin: 0.2em;
    font-size: 2em;
    border-radius: var(--radius);
    color: var(--card);
}

.logo {
    height: 4em;
    margin: 1em 1.5em;
}

.main {
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 90%;
    margin: var(--margin) auto;
    grid-gap: 2em;
    height: 100vh;
}

.main--panel {
    border-radius: var(--radius);
    background-color: var(--card);
    padding: var(--padding) var(--padding);
}

.panel--item {
    padding: 0.5em var(--padding);
    background-color: var(--principal);
    border-radius: var(--radius);
}

.panel--item li {
    /* font-size: 100%; */
}

.panel--subitem li {
    margin: 0.5em 0;
    margin-left: var(--padding);
    background-color: var(--principal);
    border: var(--border);
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--content {
    display: grid;
    grid-template-rows: 13em 2em 1fr;
    grid-gap: 2em;
}

.content--banner {
    margin: 0 auto;
    /* min-height: 10em; */
}

.content--banner img {
    /* height: 90%; */
    border-radius: var(--radius);
}

.controls ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-rotate::before {
    font-size: 1.3em;
    background-color: var(--principal);
    border-radius: 0.5em;
}

.content--products--cards {
    display: grid;
    margin-bottom: 4em;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 1em;
}

.content--products--cards--card {
    display: grid;
    background-color: var(--card);
    grid-template-areas: "product__img product__title"
        "product__img product__category"
        "product__img product__price"
        "product__details product__details";
    padding: 0.3em;
    grid-gap: 1em;
}

.product__img {
    grid-area: product__img;
    height: 7em;
    width: 7em;
    border-radius: var(--radius);
    transition: 1s ease;
}


.product__img:hover {
    transform: scale(2);
}

.product__title {
    font-size: 0.99em;
    grid-area: product__title;
    margin: 0.5em auto;
    text-transform: uppercase;
    /* text-align: center; */
}

.product__title {
    margin: auto 0;
}

.product__category {
    grid-area: product__category;
    color: var(--color-font);
}

.product__price {
    grid-area: product__price;
}

.product__details {
    align-items: center;
    background-color: var(--principal);
    border: var(--border);
    display: flex;
    grid-area: product__details;
    height: 1.5em;
    justify-content: center;
    margin: 0.5em;
    user-select: none;
}

.resetButton {
    width: 10em;
    background-color: var(--principal);
    border: var(--border);
    display: flex;
    height: 1.5em;
    justify-content: center;
    margin: 0.5em;
    user-select: none;
    border-radius: var(--radius);
}

.resetButton:active,
.catButton:active,
.product__details:active,
.cart--sumary-pay:active {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3),
        inset 0px 0px 4px 0px aqua;
    transition: 0.1s ease;
}

.catButton {
    user-select: none;
}

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--card);
    border-bottom: 1px solid var(--border);
    min-height: 3em;
    padding: 0 var(--padding);
    display: grid;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    background-color: #99999999;
    height: 100%;
    left: 0;
    overflow: auto;
    top: 0;
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 6em;
    z-index: 2;
    position: absolute;
}

.modal-details {
    z-index: 10;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 80vh;
    padding: var(--padding);
    width: 60%;
    position: relative;
}

.modal--details-generated {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: 15% 1fr 10% 10% 10%;
    grid-template-areas: "details__title details__title"
        "details__img details__description"
        "details__img details__category"
        "details__img details__price"
        "details__addCart details__addCart";
}

.modal--details--product__img {
    grid-area: details__img;
    height: 15em;
    width: 15em;
    padding: var(--padding);
    margin: auto 0;
}

.modal--details--product__title {
    grid-area: details__title;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
}

.modal--details--product__description {
    grid-area: details__description;
    text-align: justify;
}

.modal--details--product__category {
    grid-area: details__category;
}


.modal--details--product__price {
    grid-area: details__price;
}

.modal--details--product__addCart {
    grid-area: details__addCart;
    margin-top: 1em;
}

.modal--close {
    font-size: 2em;
    background-color: var(--secondary);
    border-radius: var(--radius);
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1em;
    cursor: pointer;
}

.modal--details--product__addCart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--principal);
    padding: 0.2em var(--padding);
    user-select: none;
}

.icon-cart-plus::before {
    background-color: var(--principal);
}

.cart {
    width: 80%;
    margin: 0 auto;
}

.cart-content {
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-gap: 1em;
}

.table-sumary {
    margin: 0.5em auto;
    width: 80%;
}

.cart--sumary-pay {
    margin: var(--margin) auto;
    height: 4em;
    width: 15em;
    border-radius: var(--radius);
    background-color: var(--principal);
    outline: none;
}

.cart--cards {
    display: grid;
    grid-gap: 1em;
}

.cart--cards--product {
    display: grid;
    padding: var(--padding);
    background-color: var(--card);
    grid-template-columns: 35% 1fr;
    grid-template-areas: "cart_title cart_title"
        "cart_img cart_desc"
        "cart_img cart_categ"
        "cart_img cart_price";
}

.cart--product__title {
    grid-area: cart_title;
}

.cart--product__img {
    grid-area: cart_img;
    width: 60%;
}

.cart--product__description {
    grid-area: cart_desc;
}

.cart--product__category {
    grid-area: cart_categ;
}

.cart--product__price {
    grid-area: cart_price;
}

.cart--sumary {
    display: flex;
    flex-direction: column;
    background-color: var(--card);
    padding: var(--padding);
}

.cart--sumary--title {
    text-align: center;
    margin: var(--margin);
}

@media screen and (max-width: 1200px) {
    .content--products--cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
}

@media screen and (max-width: 1000px) {
    .content--products--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }

    .panel--subitem-button {
        background-color: var(--principal);
        border-radius: 0.5em;
    }

    .panel--subitem li {
        margin: 0.5em 0;
    }
}

@media screen and (max-width: 425px) {
    .content--products--cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}